@media only screen and (max-width: 1231px) {
  .robin-footer {
    padding-left: 10%;
    padding-right: 10%;
  }

  .robin-upperFooter {
    flex-direction: column;
  }

  .robin-companySection {
    max-width: 100%;
  }
}

@media only screen and (max-width: 855px) {
  .robin-upperDivider,
  .robin-footerLinks {
    display: none;
  }

  .robin-contactInfo{
    flex-direction: column;
  }
}
